.container {
    margin-top: 30px;

}

.registration-form {
    color: rgb(0, 0, 0);
    width: 90%;
    margin: auto;
    background: rgba(255, 251, 251, 0.8);
    backdrop-filter: saturate(180%) blur(10px);

}

.title {
    text-align: center;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(180%) blur(10px);
}

.submit-btn {
    text-align: center;
}